# 1. limpieza de datos del csv film

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('../Data/film.csv', encoding='latin1')
data

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,NaN,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-15 05:03:42
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,NaN,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-15 05:03:42
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,NaN,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 05:03:42
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,NaN,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,NaN,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42

In [3]:
data.isna().sum()

film_id                    0
title                      0
description                0
release_year               0
language_id                0
original_language_id    1000
rental_duration            0
rental_rate                0
length                     0
replacement_cost           0
rating                     0
special_features           0
last_update                0
dtype: int64

In [4]:
data.drop('original_language_id', axis=1, inplace=True)

In [5]:
data=data.drop_duplicates()

In [6]:
data.special_features.unique()

array(['Deleted Scenes,Behind the Scenes', 'Trailers,Deleted Scenes',
       'Commentaries,Behind the Scenes', 'Deleted Scenes', 'Trailers',
       'Commentaries,Deleted Scenes',
       'Trailers,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Behind the Scenes', 'Trailers,Commentaries',
       'Trailers,Behind the Scenes',
       'Commentaries,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Deleted Scenes',
       'Trailers,Commentaries,Deleted Scenes,Behind the Scenes',
       'Behind the Scenes', 'Commentaries'], dtype=object)

In [7]:
data[['Fecha', 'Hora']] = data['last_update'].str.split(' ', expand=True)
data
data[['year_update', 'Mes_update', 'Dia_update']] = data['Fecha'].str.split('-', expand=True)
data

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,Fecha,Hora,year_update,Mes_update,Dia_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,2006-02-15,05:03:42,2006,02,15
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42,2006-02-15,05:03:42,2006,02,15
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42,2006-02-15,05:03:42,2006,02,15
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42,2006-02-15,05:03:42,2006,02,15
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42,2006-02-15,05:03:42,2006,02,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-15 05:03:42,2006-02-15,05:03:42,2006,02,15
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-15 05:03:42,2006-02-15,05:03:42,2006,02,15
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 05:03:42,2006-02-15,05:03:42,2006,02,15
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42,2006-02-15,05:03:42,2006,02,15
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,2006-02-15,05:03:42,2006,02,15

In [8]:
data_null=['Fecha', 'last_update']
data.drop(data_null, axis=1,inplace=True)

In [9]:
data= data[['film_id','title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'replacement_cost', 'rating', 'special_features', 'year_update', 'Mes_update', 'Dia_update', 'Hora' ]]

In [10]:
data

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,replacement_cost,rating,special_features,year_update,Mes_update,Dia_update,Hora
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,20.99,PG,"Deleted Scenes,Behind the Scenes",2006,02,15,05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,12.99,G,"Trailers,Deleted Scenes",2006,02,15,05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,18.99,NC-17,"Trailers,Deleted Scenes",2006,02,15,05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,26.99,G,"Commentaries,Behind the Scenes",2006,02,15,05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,22.99,G,Deleted Scenes,2006,02,15,05:03:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,6,0.99,9.99,G,"Trailers,Behind the Scenes",2006,02,15,05:03:42
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,4,0.99,14.99,NC-17,"Trailers,Behind the Scenes",2006,02,15,05:03:42
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,6,0.99,10.99,NC-17,Deleted Scenes,2006,02,15,05:03:42
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,5,2.99,28.99,R,"Trailers,Deleted Scenes",2006,02,15,05:03:42
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006,02,15,05:03:42

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int64
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   release_year      1000 non-null   int64
 4   language_id       1000 non-null   int64
 5   rental_duration   1000 non-null   int64
 6   rental_rate       1000 non-null   float64
 7   replacement_cost  1000 non-null   float64
 8   rating            1000 non-null   object
 9   special_features  1000 non-null   object
 10  year_update       1000 non-null   object
 11  Mes_update        1000 non-null   object
 12  Dia_update        1000 non-null   object
 13  Hora              1000 non-null   object
dtypes: float64(2), int64(4), object(8)
memory usage: 109.5+ KB

In [12]:
duplicados=data['title'].duplicated()

In [13]:
duplicados.sum()

0

In [14]:
data_null=[ 'Hora']
data.drop(data_null, axis=1,inplace=True)

C:\Users\pepot\AppData\Local\Temp\ipykernel_12404\1953283035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data_null, axis=1,inplace=True)

In [16]:
data1 = pd.read_csv('../data_cleaned/language_limpio.csv', encoding='latin1')
data1.head()

   language_id language_sp
0            1     English
1            2     Italian
2            3    Japanese
3            4    Mandarin
4            5      French

In [ ]:
data = data.merge(data2[['languague_id', 'language_sp']], on='complete_name', how='left')

In [15]:
data.to_csv('film_limpio.csv', index=False)cnecbniwebciwebe